.navbar ul{
    list-style-type: none;
    background-color:black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:deeppink ;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

body{

    background-image: url(alone-stars-purple-background-1964895-wallhere.com.jpg);
}
p{
   color: white;
}


h1{
color: white;
}

